

.width12 {
  width: 940px;
}

.width11 {
  width: 860px;
}

.width10 {
  width: 780px;
}

.width9 {
  width: 700px;
}

.width8 {
  width: 620px;
}

.width7 {
  width: 540px;
}

.width6 {
  width: 460px;
}

.width5 {
  width: 380px;
}

.width4 {
  width: 300px;
}

.width3 {
  width: 220px;
}

.width2 {
  width: 140px;
}

.width1 {
  width: 60px;
}
